body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  z-index: 9999;
}

::-webkit-scrollbar-track {
  background: rgb(252, 252, 253); /* Color of the track (the empty space behind the scrollbar) */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #abffee, #3d00a6, #000e17); /* Gradient color combination */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #000e17, #3d00a6, #abffee); /* Inverted gradient color on hover */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom keyframes for toast animation */
@keyframes toast-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .css-18xdh7s-MuiButtonBase-root-MuiIconButton-root {
  background-color: rgb(255, 255, 255) !important;
} */

.MuiIconButton-root svg {
  fill: white /* Set the initial color of the icon */
}