.fa-heart
{
    overflow: hidden;
    color: var(--red-color);
}

.added-to-wishlist-btn
{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    margin: 0.8rem 1.1rem 0 0;
}

.added-to-wishlist-btn:hover
{
    background-color: var(--grey);
}